/* Links */
a:hover {
  color: #FE3798;
}

/* Header Buttons on Startpage */
a.btn {
  color: #F2EEE4;
  background-color: #5065A8;
}
a.btn:hover {
  background-color: #FE3798;
}

/* Scroll Menu on Startpage */
a.fn-item.active {
  color: #FE3798;
}
a.fn-item:hover {
  color: #3A4145;
}

/* Content / Sections */
.post-holder.odd {
  background: #5065A8;
  color: #F2EEE4;
}
.post-holder {
  background: #F2EEE4;
}
body {
  color: #22343A;
}

/* Footer */
.site-footer {
  color: #F2EEE4;
  background-color: #22343A;
}
