<style>
:root {
  /* see variables.scss for more variables*/
  --cover-text-color: var(--section-light-bg-color);
  --highlight: #5065A8;
  --highlight-contrast: var(--cover-text-color);
  --highlight-inverse: #FE3798;
  --highlight-inverse-contrast: white;

  --cover-title-and-description-guard-bg-color: rgba(255, 255, 255, 0.25);
  --cover-title-text-shadow: #5065A8 0px 0px 1px;

  --sticky-menu-text-color: #FE3798;

  --section-dark-bg-color: #5065A8;
  --ul-li-icon: fa-asterisk;
}

main article.post.first header {
  display: none !important;
}
</style>

{{ with resources.Get "images/apple-touch-icon.png" }}<link rel="apple-touch-icon" sizes="180x180" href="{{ .RelPermalink }}" />{{ end }}
{{ with resources.Get "images/favicon.svg" }}<link rel="icon" type="image/svg+xml" href="{{ .RelPermalink }}" />{{ end }}
{{ range seq 9 4 }}{{ $size := pow 2 . }}{{ $file := replace "images/favicon-##x##.png" "##" $size }}{{ with resources.Get $file }}
<link rel="icon" type="{{ .MediaType.Type }}" sizes="{{- $size -}}x{{- $size -}}" href="{{ .RelPermalink }}" />{{ end }}{{ end }}

<script defer data-domain="alarina.jp" src="https://plausible.georepublic.info/js/plausible.js"></script>
